<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <!-- <feature></feature> -->
    </featureManager>

    <application type="war" contextRoot="eds" id="eds" location="${server.config.dir}/apps/sampleEDSService.war"
                 name="eds">
    </application>

</server>